<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>柑橘疾病识别系统</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
<div id="auth-container">
    <h1>🍊 柑橘疾病识别系统</h1>

    <!-- 登录表单 -->
    <div id="login-form" class="form-container active">
        <h2>🔐 登录</h2>
        <input type="text" id="login-username" placeholder="用户名"/>
        <input type="password" id="login-password" placeholder="密码"/>
        <button onclick="login()">登录</button>
        <p>还没有账户？ <span class="toggle-link" onclick="toggleForm('register')">注册</span></p>
    </div>

    <!-- 注册表单 -->
    <div id="register-form" class="form-container">
        <h2>📝 注册</h2>
        <input type="text" id="register-username" placeholder="新用户名"/>
        <input type="password" id="register-password" placeholder="新密码"/>
        <button onclick="register()">注册</button>
        <p>已有账户？ <span class="toggle-link" onclick="toggleForm('login')">登录</span></p>
    </div>
</div>

<!-- 识别界面 -->
<div id="recognition" style="display: none;">
    <img id="avatar" src="../static/picture/myself.png" alt="个人头像" onclick="goToInfo()">
    <h1>🍊 柑橘疾病识别系统</h1>
    <h2>📸 选择图片"类型"并上传图片</h2>
    <select id="recognition-type">
        <option value="fruit">柑橘果实疾病识别</option>
        <option value="leaf">柑橘叶疾病识别</option>
    </select>
    <input type="file" id="image-upload" multiple onchange="previewImages()"/>

    <!-- 图像预览区域 -->
    <div id="result"></div>

    <!-- 固定按钮 -->
    <button onclick="recognize()" class="fixed-button">开始识别</button>
    <!-- 进度条 -->
    <div id="progress-bar" style="display: none;">
        <div class="progress" style="width: 0%;"></div>
    </div>
</div>
<script src="/static/index.js"></script>
</body>
</html>