<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详细信息</title>
    <link rel="stylesheet" href="/static/info.css">
</head>
<body>
<h1>照片上传信息</h1>
<table>
    <thead>
    <tr>
        <th>上传时间</th>
        <th>图片路径</th>
    </tr>
    </thead>
    <tbody>
    {% for image in images %}
    <tr>
        <td>{{ image.upload_time }}</td>
        <td><a href="{{ image.image_path }}" target="_blank">{{ image.image_path }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<button onclick="goBackIndex()" class="fixed-button">返回</button>
<script src="/static/info.js"></script>
</body>
</html>